@page "/fetchdata"
@using Interfaces
@using System.Diagnostics
@using Models.Structs
@inject IEntityService EntityService

<PageTitle>DB</PageTitle>

<h1>Read</h1>
<div style="height: 70vh; width: 80vw">

    <div class="flex flex-wrap flex-column card" style="max-height: 100%; overflow: auto; max-width: 100%;">
        <table class="result-table">
            
            <colgroup>
                
                @foreach (var col in cols)
                {
                    <col>
                }
            </colgroup>
            <tr >
            @foreach (var col in cols)
            {
                <th  class="px-2" style="text-overflow: ellipsis; text-wrap: nowrap ">@col.ColumnDisplayName</th>
            }
                
            </tr>
            @if (UseDate)
            {
                <Virtualize @ref="DateScopedVirtualizer" OverscanCount="20" ItemsProvider="GetEntitiesByDateScoped" ItemSize="24" Context="row">
                    <tr style="height: 24px" class="border-bottom">
                        @foreach (var item in row)
                        {
                            <td class="px-2" style="text-overflow: ellipsis; text-wrap: nowrap ">@item.Value</td>
                        }
                    </tr>
                </Virtualize>
            }
            else
            {
                <Virtualize @ref="DefaultVirtualizer" OverscanCount="20" ItemsProvider="GetEntitiesScoped" ItemSize="24" Context="row">
                    <tr style="height: 24px" class="border-bottom">
                        @foreach (var item in row)
                        {
                            <td style="text-overflow: ellipsis; text-wrap: nowrap ">@item.Value</td>
                        }
                    </tr>
                </Virtualize>
            }
        </table>
    </div>
</div>
<label for="use-date">Use date</label>
<InputCheckbox Value="UseDate" ValueExpression="() => UseDate" ValueChanged="@(GetNewTotal)" id="use-date" DisplayName="Use date"></InputCheckbox>
<InputDate @bind-Value="EntityService.SelectedDateTime" Type="InputDateType.DateTimeLocal" TValue="DateTime"></InputDate>

<button class="btn btn-outline-primary" @onclick="Refresh"> <i class="fas fa-refresh"></i></button>
<br><br>

<span>Records: @total</span>
<br>
<span>Time elapsed: @stopwatch.Elapsed</span>
<br>
<span>Current average: @averageTimeSpan</span>
@* *@
@* <button class="btn btn-primary" @onclick="Run">Run</button> *@
@* <br> *@
@* <button class="btn btn-primary" @onclick="RunWithDate">Run with date</button> *@


<style>

.result-table colgroup col:nth-child(even) {
background-color: #0001;
}
</style>

@code {
    List<Dictionary<ColDescriptor, object>> test = new();
    Stopwatch stopwatch = new();
    List<TimeSpan> _timeSpans = new();
    int total;
    List<ColDescriptor> cols = new();

    double averageTimeSpan => _timeSpans.Any() ? _timeSpans.Average(x => x.TotalMilliseconds) : 0;

    protected override void OnInitialized()
    {
        total = EntityService.GetEntityCount();
    }

    private async ValueTask<ItemsProviderResult<Dictionary<ColDescriptor, object>>> GetEntitiesScoped(ItemsProviderRequest request)
    {
        stopwatch.Reset();
        stopwatch.Start();
        List<Dictionary<ColDescriptor, object>> entities = EntityService.GetRangeOfEntities(request.StartIndex, request.StartIndex + request.Count);

        var result = new ItemsProviderResult<Dictionary<ColDescriptor, object>>(entities, total);
        cols = entities.FirstOrDefault()?.Keys.ToList();
        stopwatch.Stop();
        _timeSpans.Add(stopwatch.Elapsed);
        await InvokeAsync(StateHasChanged);
        return result;
    }

    public bool UseDate { get; set; }

    private async ValueTask<ItemsProviderResult<Dictionary<ColDescriptor, object>>> GetEntitiesByDateScoped(ItemsProviderRequest request)
    {
        stopwatch.Reset();
        stopwatch.Start();
        List<Dictionary<ColDescriptor, object>> entities = EntityService.GetRangeOfEntitiesBySelectedDate(request.StartIndex, request.StartIndex + request.Count);
        var result = new ItemsProviderResult<Dictionary<ColDescriptor, object>>(entities, total);
        cols = entities.FirstOrDefault()?.Keys.ToList();
        stopwatch.Stop();
        _timeSpans.Add(stopwatch.Elapsed);
        await InvokeAsync(StateHasChanged);
        return result;
    }

    private void GetNewTotal(bool value)
    {
        UseDate = value;
        if (UseDate)
        {
            total = EntityService.GetEntityCountByDate();
        }
        else
        {
            total = EntityService.GetEntityCount();
        }
    }

    private async Task Refresh()
    {
        if (UseDate)
        {
            await DateScopedVirtualizer.RefreshDataAsync();
        }
        else
        {
            await DefaultVirtualizer.RefreshDataAsync();
        }
    }

    public Virtualize<Dictionary<ColDescriptor, object>> DateScopedVirtualizer { get; set; }
    public Virtualize<Dictionary<ColDescriptor, object>> DefaultVirtualizer { get; set; }

}